<!-- appBox (primera hasta arriba lado izquierdo) -->
{{% for item in data %}}
<!-- {{% for item in element %}} -->
<div class=appBox0 >
    <div class="appBoxImage1">
        <img src="..\static\love_my_movies.png" alt="Paypal Logo" width="20%" height="20%" >
    </div>
    <div class="appBoxImageBuilding1">
            <img src="..\static\pinIcon.png" alt="Building Icon" width="10%" height="15%" >
        </div>

    <div class="appBox1Head1">
        <div class="appboxText1">
            <p>{{item.title}} </p>
        </div>
    </div>
    <div class="appBox1SubHeading1">
        <p>{{item.release_date}}</p>
        <!-- <p>{{idNumber}}</p> -->
    </div>
    <div class="appBox1Content1">
        <div class="appBox1ContentText1">
            <p>{{item.overview}}</p>
        </div>
    </div>
    <div class="buttonRequest1">
        <div class="buttonRequestId1">
            <div class="buttonRequestText1">
                <a href="https://www.themoviedb.org/movie" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Info.</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- {% endfor %} -->
