<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="..\static\style.css" type="text/css">
</head>
<body>
    <header> 
<!--BANNER-->
    <div class="banner">
            <div class="bannerHeading">
                <div class="bannerHeadingText">
                    <p> Popular Solutions</p>
                </div>
            </div>

<!-- appBox (primera hasta arriba lado izquierdo) -->
            <div class="appBox1">
                <div class="appBoxImage1">
                    <img src="..\static\payPalLogo.png" alt="Paypal Logo" width="20%" height="20%" >
                </div>
                
                <div class="appBoxImageBuilding1">
                        <img src="..\static\buildingIMage.png" alt="Building Icon" width="20%" height="20%" >
                    </div>

                <div id="appBox1Head1">
                    <div class="appboxText1">
                        <p>Cummins Connected Diagnostics</p>
                    </div>
                </div>
                <div class="appBox1SubHeading1">
                    <p>Cummins Inc.</p>
                </div>
                <div id="appBox1Content1">
                    <div id="appBox1ContentText1">
                        <p>The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
                    </div>
                </div>
                <div class="buttonRequest1">
                    <div class="buttonRequestId1">
                        <div class="buttonRequestText1">
                            <a href="https://www.google.com/" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Request</a>
                        </div>
                    </div>
                </div>
            </div>


     <div id="bodyHeading">
         <p>Discover New Solutions</p>
     </div>

     <!-- appBox2 (Caja arriba 2nda)  -->

     <div class="appBox2">
        <div class="appBoxImage2">
            <img src="..\static\payPalLogo.png" alt="Paypal Logo" width="20%" height="20%" >
        </div>
        
        <div class="appBoxImageBuilding2">
                <img src="..\static\buildingIMage.png" alt="Building Icon" width="20%" height="20%" >
            </div>

        <div id="appBox2Head">
            <div class="appboxText4">
                <p>Cummins Connected Diagnostics</p>
            </div>
        </div>
        <div class="appBox2SubHeading">
            <p>Cummins Inc.</p>
        </div>
        <div id="appBoxContent2">
            <div id="appBox2ContentText">
                <p>The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
            </div>
        </div>
        <div class="buttonRequest2">
            <div class="buttonRequestId2">
                <div class="buttonRequestText2">
                    <a href="https://www.google.com/" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Request</a>
                </div>
            </div>
        </div>
    </div>
    <!-- appBox 2 END ------------------------------------------------------------------------------------------------------------->

     <!-- appBox3 (tercera caja de arriba)  -->

     <div class="appBox3">
        <div class="appBoxImage3">
            <img src="..\static\payPalLogo.png" alt="Paypal Logo" width="20%" height="20%" >
        </div>
        
        <div class="appBoxImageBuilding3">
                <img src="..\static\buildingIMage.png" alt="Building Icon" width="20%" height="20%" >
            </div>

        <div id="appBox3Head">
            <div class="appboxText3">
                <p>Cummins Connected Diagnostics</p>
            </div>
        </div>
        <div class="appBox3SubHeading">
            <p>Cummins Inc.</p>
        </div>
        <div id="appBoxContent3">
            <div id="appBox3ContentText">
                <p>The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
            </div>
        </div>
        <div class="buttonRequest3">
            <div class="buttonRequestId3">
                <div class="buttonRequestText3">
                    <a href="https://www.google.com/" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Request</a>
                </div>
            </div>
        </div>
    </div>
    <!-- appBox 3 END ------------------------------------------------------------------------------------------------------------->
     
     <!-- appBox4 (Caja abajo lado izquierdo) -->
     <div class="appBox4">
        <div class="appBoxImage4">
            <img src="..\static\payPalLogo.png" alt="Paypal Logo" width="20%" height="20%" >
        </div>
        
        <div class="appBoxImageBuilding4">
                <img src="..\static\buildingIMage.png" alt="Building Icon" width="20%" height="20%" >
            </div>

        <div id="appBox4Head">
            <div class="appboxText4">
                <p>Cummins Connected Diagnostics</p>
            </div>
        </div>
        <div class="appBox4SubHeading">
            <p>Cummins Inc.</p>
        </div>
        <div id="appBoxContent4">
            <div id="appBox4ContentText">
                <p>The moment a Cummins engine system fault occurs, the Geotab device transmits key engine system... </p>
            </div>
        </div>
        <div class="buttonRequest4">
            <div class="buttonRequestId4">
                <div class="buttonRequestText4">
                    <a href="https://www.google.com/" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Request</a>
                </div>
            </div>
        </div>
    </div>


</html>
