head

    link(rel="stylesheet", href="styles/css/estilo.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/functions.js")
    script.
        var nombres = !{JSON.stringify(names)}

body
    .main-div
        .sayh-button-container
            h4#task hello
                button.say add
        .sayg-button-container
            h4#task goodbye
                button.say add

                .ligths-button-container
                    button.ligths lights   

        .names-container
            ul 
                each list in lista
                    li#target #{list} 
                        button.delete delete  
        
    
        .send-button-container
            button.send Enviar 
    
    .navbar
        a(href='#home') Home
        a(href='#news') News
        .dropdown
            button.dropbtn(onclick='myFunction()')
            | Dropdown
            i.fa.fa-caret-down
        #myDropdown.dropdown-content
            .sayh-button-container
                h4#task hello
                    button.say add
            a(href='#') Link 2
            a(href='#') Link 3
    
    script.
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        }
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
        }
        }
        }