{% extends 'layout.html' %}

{% block body %}
<h1>Education</h1>

<h3> Universidad Francisco Marroquin</h3>
<ul style="list-style-type:disc;">
        <li>Bachelor's Degree, Computer Science</li>
        <li>2019 - 2022</li>
      </ul> 

<h3> International Baccalaureate</h3>
<h4>International Baccalaureate Bilingual Diploma</h4>
<h4>Highschool - 2017-2018</h4>
<h4>"The IB Diploma Programme (DP) is an academically challenging and balanced programme of education with final examinations that prepares students, aged 16 to 19, for success at university and life beyond. It has been designed to address the intellectual, social, emotional and physical well-being of students. The programme has gained recognition and respect from the world’s leading universities" (IBO, 2019)</h5>
<font size="+1">
<ul style="list-style-type:disc;">
        <li>Information Technology in a Global Society (ITGS)</li>
        <li>Language A: Spanish, Literature</li>
        <li>Language B: English </li>
        <li>Environmental Systems and Societies (ESS)</li>
        <li>Business Management </li>
        <li>Math Studies</li>
    </ul> 
</font>
{% endblock %}